.mandatory {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(#FFE5E5, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(#FFE5E5, -30%);
    -fx-background-color:
            #FF0728,
            -fx-control-inner-background,
            #FF072822,
            linear-gradient(from 0px 0px to 0px 5px, derive(#FFE5E5, -9%), #FFE5E5);
    -fx-background-radius: 3,2,4,0;
}

.is_valid {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(#D7FFC6, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(#D7FFC6, -30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%) ,-fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(#D7FFC6, -9%), #D7FFC6);
    -fx-background-insets: -0.2,1,-1.4,3;
    -fx-background-radius: 3,2,4,0;
}

.is_valid:focused {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(#D7FFC6, -30%);
     -fx-background-color:
            #27C400,
            -fx-control-inner-background,
            #27C40022,
            linear-gradient(from 0px 0px to 0px 5px, derive(#D7FFC6, -9%), #D7FFC6);
    -fx-background-insets: -0.2,1,-1.4,3;
    -fx-background-radius: 3,2,4,0;
}

.is_invalid {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(#FFE5E5, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(#FFE5E5, -30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%) ,-fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(#FFE5E5, -9%), #FFE5E5);
    -fx-background-insets: -0.2,1,-1.4,3;
    -fx-background-radius: 3,2,4,0;
}
.is_invalid:focused {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(#FFE5E5, -30%);
    -fx-background-color:
        #FF0728,
        -fx-control-inner-background,
        #FF072822,
        linear-gradient(from 0px 0px to 0px 5px, derive(#FFE5E5, -9%), #FFE5E5);
    -fx-background-insets: -0.2,1,-1.4,3;
    -fx-background-radius: 3,2,4,0;
}